DATABASE_URL="postgresql://name:pass@hostname:12345/db_name"
JWT_SECRET="jwt-secret"
FRONTEND_URL=http://localhost:5173
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@test.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

SQS_QUEUE_URL=https://sqs.world-1.amazonaws.com/123123/app-resolver-v2